@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap")
  @tailwind base;
@tailwind components;
@tailwind utilities;
root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 200, 255;
  --background-end-rgb: 255, 220, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 85, 255;
    --background-end-rgb: 0, 153, 255;
  }
}

body {
  font-family: "Roboto", sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    135deg,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
